* {
    margin: 0;
    box-sizing: border-box;
    color: #666;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    max-width: 1366px;
    margin: 0 auto;
    background-color: #f5f5f5;
}


/* Header/logo tiêu đề */

header {
    padding: 5px;
    background-color: #e93c00;
    background-image: linear-gradient(160deg, #e93c00 0%, #eb3a3a 100%);
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    position: relative;
}

header > img {
    height: 100%;
    width: auto;
    margin: 0 10px;
}

header > a {
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin: 0 10px;
}

header > a:hover {
    border-bottom: 2px solid white;
}

.search-form {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 10px;
}

.search-form-input {
    flex: 1;
    width: 100%;
    outline: none;
    padding: 15px 10px;
    border: 1px solid #eee;
    border-radius: 4px;
    transition: all 0.2s linear;
}

.search-form-button {
    padding: 5px 15px;
    background-color: #fa5330;
    color: white;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    border-radius: 4px;
    flex-shrink: 0;
    transition: all 0.2s linear;
    position: absolute;
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
    border: none;
    height: 90%;
}

/* Tăng kích thước font chữ cho header */

header h1 {
    font-size: 40px;
}

header h1 {
    color: white;
}

section {
    padding: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a,
.dropbtn {
    display: inline-block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active),
.dropdown:hover .dropbtn {
    color: white;
    background-color: #4CAF50;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #666;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Landing page */

.hideable-section {
    display: none;
}

.hideable-section:first-of-type {
    display: block;
}

.main-content {
    background-image: url("../images/background.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    max-width: 1366px;
}

.main-banner {
    width: 65%;
}

.main-banner img {
    width: 100%;
    border-radius: 10px;
    transition: .2s;
}

.main-banner img:hover {
    box-shadow: 3px 3px 5px 6px #ccc;
}

.secound-banner {
    width: 30%;
}

.secound-banner img {
    height: 100%;
    border-radius: 10px;
}

.secound-banner img:hover {
    box-shadow: 3px 3px 5px 6px #ccc;
}

.links-button {
    width: 80%;
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 100px;
    padding: 10px;
}

.link {
    text-align: center;
    flex: 0 20%;
}

.link img {
    height: 100%;
    border: 1px solid gainsboro;
    border-radius: 10px;
    transition: 0.5s;
}

.link img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.products-header {
    margin-top: 20px;
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: 20px;
}

.products-header a {
    font-size: 20px;
    padding: 20px;
    color: #eb4b2b;
    border-bottom: 5px solid #eb4b2b;
}

.products {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
    padding-right: 8px;
    padding-left: 8px;
    margin: 0 auto;
    margin-right: -15px;
}

.product-item {
    display: flex;
    flex-direction: column;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 5px;
    flex: 0 18%;
    transition: 0.2s;
}

.product-item img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    max-height: 100%;
}

.product-img {
    height: 78%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    padding: 5px;
    background-color: white;
}

.product-item:hover {
    border: 1px solid #eb4b2b;
}

.product-container {
    padding: 10px;
}

.product-title {
    color: black;
    font-weight: normal;
}

.product-price {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.product-price h3 {
    color: #eb4b2b;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
  :root {
    --primary: #08aeea;
    --secondary: #13D2B8;
    --purple: #bd93f9;
    --pink: #ff6bcb;
    --blue: #8be9fd;
    --gray: #333;
    --font: "Poppins", sans-serif;
    --gradient: linear-gradient(40deg, #ff6ec4, #7873f5);
    --shadow: 0 0 15px 0 rgba(0,0,0,0.05);
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }

  body {
    font-family: var(--font);
    font-size: 1.4rem;
    overflow-x: hidden;
    font-weight: 300;
  }

  img {
    display: block;
    max-width: 100%;
  }

  a {
    text-decoration: none;
  }

  input,
  button,
  textarea,
  select {
    font-size: 1.4rem;
    font-weight: 300;
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
    -webkit-appearance: none;
  }

  button {
    cursor: pointer;
  }
  
.line-text {
    text-align: center;
    position: relative;
    width: 100%;
}

.line-text:before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.line-text span {
    display: inline-block;
    position: relative;
    z-index: 2;
    padding: 1rem;
    font-weight: 600;
    width: 100%;
}

.more-button {
    width: 100%;
    text-align: center;
}

.more-button button {
    width: 300px;
    padding: 10px;
    border: 1px solid gray;
    background-color: white;
}

.more-button button:hover {
    border: 1px solid #eb4b2b;
    color: #eb4b2b;
}

footer {
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    background-color: white;
}

.subject-name {
    text-align: center;
}

footer img {
    border-radius: 50%;
    max-height: 75px;
}
